/* GOLBAL */
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "logo";
  src: url(../fonts/MochiyPopPOne-Regular.ttf);
}
@font-face {
  font-family: "botones";
  src: url(../fonts/FredokaOne-Regular.ttf);
}

/* HEADER */
.navbar {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.navbar-brand {
  font-family: "logo";
  color: #f3a56e;
}

.navbar-brand span {
  color: #f3a56e;
}

.btn {
  font-family: "botones";
  background-color: #f3a56e;
  color: #fff;
}

.btn:hover {
  font-family: "botones";
  background-color: #f7944e;
  color: #fff;
}

/* SECTION PERFIL */
.perfil {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.perfil .perfil-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
}

.perfil .perfil-btn {
  padding: 10px;
  background-color: #f3a56e;
  border-radius: 8px;
  cursor: pointer;
  border-color: #e2a87e;
  font-family: "botones", "Arial";
  font-size: 15px;
  color: #fff;
}

.perfil-titulo {
  color: #345d7e;
  font-size: 35px;
  font-weight: 600;
}

.perfil-detallado {
  font-size: 20px;
}
.perfil-img {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  border-radius: 50%;
}

/* SECTION PERFIL END*/

/* SECTION HERRAMIRNTAS */
.herramientas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #5e98c7;
  padding: 15px;
  height: 500px;
}
.img-herramientas {
  display: flex;
  flex-wrap: wrap;
}
.img-herramientas img {
  border-radius: 50%;
  width: 200px;
  margin: 15px;
}

.herramientas .texto-herramientas {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 700px;
}

.texto-herramientas p {
  color: #fff;
}

.btn-herramientas {
  padding: 10px;
  background-color: #f3a56e;
  border-radius: 8px;
  cursor: pointer;
  border-color: #e2a87e;
  font-family: "botones", "Arial";
  font-size: 15px;
  color: #fff;
}

.btn-herramientas a {
  color: #fff;
  text-decoration: none;
}

.btn-herramientas:hover {
  font-family: "botones";
  background-color: #f7944e;
  color: #fff;
}
/* SECTION HERRAMIRNTAS END*/

/* SECTION PORQUE-WEB */
.porque-web {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.porque-web h1 {
  margin: 15px;
  color: #345d7e;
}

.porque-web .contenido-uno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.porque-web .contenido-uno img {
  width: 394px;
}

.porque-web .contenido-dos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.porque-web p {
  width: 500px;
}

/* SECTION PORQUE-WEB END */

/* ************************ SERVICIOS INDEX ********************************* */
.titulo-servicios {
  text-align: center;
}

.secciones-servicios {
  display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

#section-individual {
  margin: 10px;
}

.maquetacion {
  background-color: #48b4ee;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.maquetacion .info-maquetacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.maquetacion .info-maquetacion p {
  width: 70%;
}

.javascrit {
  background-color: #eee9a7;
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.javascrit .info-javascrit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.javascrit .info-javascrit p {
  width: 70%;
}

.react {
  background-color: #345d7e;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.react .info-react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.react .info-react p {
  width: 70%;
}

/* ************************ SERVICIOS INDEX END ******************************* */

/* ************************ SOBRE MI INDEX END ******************************* */
.section-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-sobremi .sobremi-info {
  width: 50%;
}

.relax {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e2a87e;
}

.sobremi-imgdos img {
  border-radius: 50%;
  margin: 15px;
}
.sobremi-infodos {
  width: 50%;
}

/* ************************ SOBRE MI INDEX END ******************************* */

/* ************************ CONTACTO INDEX  ******************************* */

#main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#main-form .titulo-contacto {
  text-align: center;
  font-weight: 700;
  color: #e2a87e;
}
.form-contacto {
  background: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.grupo textarea {
  width: 410px;
}

.form {
  width: 100%;
  margin: auto;
}

.form .grupo {
  position: relative;
  margin: 45px;
}

input,
textarea {
  background: none;
  color: #918f8f;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #49454567;
}

input:focus {
  outline: none;
  color: #5e5d5d;
}

textarea:focus {
  outline: none;
  color: #5e5d5d;
}

label {
  color: #49454567;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus ~ label {
  top: -14px;
  font-size: 12px;
  color: #345d7e;
}

textarea:focus ~ label {
  top: -14px;
  font-size: 12px;
  color: #345d7e;
}

.btn-contacto {
  font-size: 16px;
  font-family: "roboto";
  background-color: #f3a56e;
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  cursor: pointer;
  border-radius: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ************************ CONTACTO INDEX END ******************************* */

/* ************************ PROYECTOS INDEX  ******************************* */
.main-proyectos {
  display: flex;
  justify-content: center;
}
.section-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 1200px;
}

.titulo-proyectos {
  text-align: center;
  color: #e2a87e;
}
.section-proyectos .proyecto {
  width: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ************************ PROYECTOS INDEX END ******************************* */
/* RESPONSIVE */

/* RESPONSIVE CELULAR */
@media (min-width: 400px) and (max-width: 863px) {
  /* PRESENTACION */

  .perfil {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .perfil-img {
    display: flex;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 50%;
    margin: 15px;
  }

  .perfil-img img {
    width: 50%;
  }
  .perfil-titulo {
    color: #345d7e;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  /* HERRAMIENTAS */

  .herramientas {
    height: auto;
    display: flex;
  }
  .img-herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .herramientas .texto-herramientas {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
  }

  /* SECTION PORQUE-WEB */
  .porque-web p {
    width: 400px;
  }

  /* PAGES SERVICIOS */
  .maquetacion {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
  }
  .javascrit {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
  }
  .react {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
  }
  .maquetacion .info-maquetacion p {
    width: 100%;
    text-align: center;
  }
  .javascrit .info-javascrit p {
    width: 100%;
    text-align: center;
  }
  .react .info-react p {
    width: 100%;
    text-align: center;
  }

  .contacto-img img {
    width: 400px;
  }
}

/* RESPONSIVE TABLETS */

@media (min-width: 864px) and (max-width: 1043px) {
  .perfil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .perfil-img {
    display: flex;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 50%;
    margin: 15px;
  }

  /* HERRAMIENTAS */

  .herramientas .texto-herramientas {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
  }
}
